.container {
    text-align: center;
    backdrop-filter: blur(8px); /* Aplica un desenfoque al fondo detrás del contenedor */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semitransparente */
    padding: 40px 60px; /* Espaciado interno del contenedor */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Sombra alrededor del contenedor */
    max-width: 500px; /* Ancho máximo del contenedor */
    margin: 20px; /* Margen externo */
}

.title h1 {
    font-size: 3rem; /* Tamaño de fuente grande para el título */
    margin: 0;
    padding-bottom: 20px;
    color: #ffcc00; /* Color dorado para el texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 3px; /* Espaciado entre letras */
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7); /* Sombra detrás del texto */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold; /* Texto en negrita */
    color: #ffcc00; /* Color dorado */
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%; /* Ocupan todo el ancho disponible */
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px; /* Bordes ligeramente redondeados */
    border: 1px solid #ccc; /* Borde gris claro */
}

textarea {
    height: 100px; /* Altura específica para el área de texto */
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #28a745; /* Fondo verde */
    color: white;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    width: 100%; /* Botón ocupa todo el ancho */
}

button:hover {
    background-color: #ffcc00; /* Cambia a color dorado al pasar el cursor */
}

.menu {
    display: flex;
    flex-direction: column; /* Elementos del menú en columna */
    gap: 20px; /* Espacio entre elementos */
}

.menu-item {
    background-color: #1c1c1e; /* Fondo oscuro */
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 1.5rem; /* Tamaño de fuente grande */
    font-weight: 700; /* Texto en negrita */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    border-radius: 12px;
    transition: all 0.3s ease; /* Transición suave para todas las propiedades */
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2); /* Sombra clara */
}


.menu-item:hover::before {
    left: 100%; /* Mueve la superposición al pasar el cursor */
}

.menu-item:hover {
    background-color: #ffcc00; /* Cambia el fondo a dorado */
    color: black; /* Cambia el color del texto a negro */
    transform: translateY(-5px); /* Eleva el elemento */
    box-shadow: 0 12px 25px rgba(255, 204, 0, 0.7); /* Aumenta la sombra */
}

.menu-item.jugar {
    background-color: #ff5500; /* Fondo naranja para el botón "jugar" */
}

.menu-item.jugar:hover {
    background-color: #ff7700; /* Fondo más claro al pasar el cursor */
}

.menu-button a {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffcc00; /* Fondo dorado */
    color: rgb(0, 0, 0); /* Texto negro */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none; /* Sin subrayado */
}

.menu-button a:hover {
    background-color: #e6b800; /* Cambia el fondo al pasar el cursor */
}

.message {
    margin-top: 20px;
    color: #ffcc00; /* Color dorado para mensajes */
    text-align: center;
}


/* Estilos para eliminar cancion */
.song-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Transición suave al transformar */
}

.song-item img {
    max-width: 100px;
    margin-right: 15px;
    border-radius: 10px;
}

.song-details {
    flex-grow: 1; /* Ocupa el espacio disponible */
    min-width: 300px;
}

.song-details h5 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    color: #ffda44; /* Color amarillo brillante */
}

.song-details p {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5px 0 0;
    color: #ffffff; /* Texto blanco */
}

.delete-button {
    background-color: #ff4d4d; /* Fondo rojo */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #ff1a1a; /* Fondo rojo más oscuro al pasar el cursor */
}

/* Estilos para joc.html */
#areaJuego {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el elemento */
    color: #ffcc00; /* Texto dorado */
    font-weight: bold;
}

#puntuacionActual {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 40px;
    color: #ffffff; /* Texto blanco */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente */
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra ligera */
    text-align: center;
}

#puntuacionActual span {
    font-size: 50px;
    color: #ffcc00; /* Texto dorado */
    font-weight: bold; /* Texto en negrita */
}

#barraProgresoContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    padding: 10px;
}

#barraProgreso {
    width: 100%;
}

#infoCancion {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    color: #ffcc00; /* Texto dorado */
}

#infoCancion h2 {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
}

#infoCancion p {
    font-size: 28px;
    margin: 5px;
}

#audioCancion {
    position: fixed;
    bottom: 40px;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    padding: 10px;
    box-sizing: border-box;
}

/* Estilos para eliminar-canco.php y personalitzar-canco.php */
.song-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente */
}

.song-item img {
    max-width: 100px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra en la imagen */
}

.song-item:hover {
    transform: scale(1.05); /* Agranda ligeramente al pasar el cursor */
}

.song-details {
    flex-grow: 1;
    min-width: 300px;
}

.song-details h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    color: #ffda44; /* Color amarillo brillante */
}

.song-details p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5px 0 0;
    color: #ffffff;
}

.delete-button, .modify-button {
    background-color: #ff4d4d; /* Fondo rojo */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 1rem;
}

.delete-button:hover {
    background-color: #ff1a1a; /* Fondo rojo más oscuro al pasar el cursor */
}

.modify-button {
    background-color: #4d8fff; /* Fondo azul claro para el botón de modificar */
}

.modify-button:hover {
    background-color: #007bff; /* Fondo azul más oscuro al pasar el cursor */
}

/* Formulario para modificar canción */
.form-container {
    display: none;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente */
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para estadistiques.php */
body {
    background-image: url("./IMAGENES/fondo3.jpg"); /* Imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; /* Texto blanco */
}

.container {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra alrededor del contenedor */
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #ffcc00; /* Texto dorado */
    font-size: 2.5rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Elimina los espacios entre celdas */
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #ffcc00; /* Fondo dorado */
    color: #282c34; /* Texto oscuro */
    font-weight: bold;
}

td {
    background-color: #1c1c1e; /* Fondo oscuro */
    border-bottom: 1px solid #444; /* Línea divisoria */
}

tr:hover td {
    background-color: #ffcc00; /* Cambia el fondo al pasar el cursor */
    color: black; /* Texto negro */
    transform: translateY(-3px); /* Eleva la fila */
    transition: all 0.3s ease; /* Transición suave */
}

a.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffcc00; /* Fondo dorado */
    color: #282c34; /* Texto oscuro */
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #ffd633; /* Fondo más claro al pasar el cursor */
}
